{% load i18n %}

<div>
    <table style="width: auto;min-width: 280px;max-width: 320px;padding: 5px;font-size: 11px;color: #374953;border: 1px solid #dddddd; margin-top: 10px;">
        <tbody>
        <tr>
            <td style="padding: 5px;" colspan="2">
                <div align="left">
                    <img src="https://ifthenpay.com/img/mbway.png" alt="mbway">
                </div>
            </td>
        </tr>
        <tr>
            <td align="left" style=" padding:10px; font-weight:bold; text-align:left">Telemóvel:</td>
            <td align="left" style=" padding:10px; text-align:left">{{  telemovel }}</td>
        </tr>
        <tr>
            <td align="left" style=" padding:10px; padding-top:10px; font-weight:bold; text-align:left">Encomenda:</td>
            <td align="left" style=" padding:10px; padding-top:10px; text-align:left">{{ referencia }}</td>
        </tr>
        <tr>
            <td align="left"
                style="padding:10px; padding-bottom:15px; padding-top:10px; font-weight:bold; text-align:left">Valor:
            </td>
            <td style="padding:10px; padding-bottom:15px; padding-top:10px; text-align:left">{{ amount }} EUR
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small; padding:0; border: 0px; text-align:center;" colspan="2">Por favor verifique na App MBWAY e proceda ao pagamento da sua encomenda.
                <br>
                Processado por <a href="https://www.ifthenpay.com" target="_blanck">Ifthenpay</a></td>
        </tr>
        </tbody>
    </table>
</div>
